@page
@model OnTutorDemand.Pages.TutorPages.TutorIndexModel

@{
    ViewData["Title"] = "Tutor Index";
}

<h1>Tutor Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Full Name</th>
            <th>Education Level</th>
            <th>Teaching Experience</th>
            <th>Teaching Grade</th>
            <th>Teaching Area</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tutors)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                <td>@Html.DisplayFor(modelItem => item.Education)</td>
                <td>@Html.DisplayFor(modelItem => item.Experience)</td>
                <td>@Html.DisplayFor(modelItem => item.Grades)</td>
                <td>@Html.DisplayFor(modelItem => item.Districts)</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pagination">
    @if (Model.CurrentPage > 1)
    {
        <a class="page-link" asp-page="./TutorIndex" asp-route-pageNumber="@(Model.CurrentPage - 1)">Previous</a>
    }

    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        <a class="page-link @(i == Model.CurrentPage ? "active" : "")" asp-page="./TutorIndex" asp-route-pageNumber="@i">@i</a>
    }

    @if (Model.CurrentPage < Model.TotalPages)
    {
        <a class="page-link" asp-page="./TutorIndex" asp-route-pageNumber="@(Model.CurrentPage + 1)">Next</a>
    }
</div>

@section Styles {
    <style>
        .pagination {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .page-link {
            padding: 10px;
            margin: 5px;
            text-decoration: none;
            color: black; /* Change this to the desired text color */
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .page-link:hover {
            background-color: #f0f0f0;
        }

        .page-link.active {
            font-weight: bold;
            background-color: #007bff; /* Change this to the desired active background color */
            color: white; /* Change this to the desired active text color */
        }
    </style>
}
