@* @page
@model OnTutorDemand.Pages.RentalServicePage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RentalService[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentalService[0].TotalOfHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentalService[0].NumberOfCourse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentalService[0].Tutor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RentalService) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalOfHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfCourse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tutor.Description)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
 *@

