@page
@model OnTutorDemand.Pages.RentalServicePage.RentalServiceIndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form asp-page="./RentalServiceHomePage" method="get" class="form-inline">
    <input type="text" name="searchString" value="@Model.CurrentFilter" placeholder="Search" class="form-control" />
    <input type="submit" value="Search" class="btn btn-primary ml-2" />
    <a asp-page="./RentalServiceHomePage" class="btn btn-secondary ml-2">Back to full List</a>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.desSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                @Html.DisplayNameFor(model => model.RentalServices[0].Description)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentalServices[0].Tutor.FullName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RentalServices) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tutor.FullName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./RentalServiceDetail" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
        <div class="pagination-buttons">
            <a asp-page="./RentalServiceHomePage"
               asp-route-sortOrder="@Model.CurrentSort"
               asp-route-pageIndex="@(Model.RentalServices.PageIndex - 1)"
               asp-route-currentFilter="@Model.CurrentFilter"
               class="btn btn-primary @(!Model.RentalServices.HasPreviousPage ? "disabled" : "")">
                Previous
            </a>
            <a asp-page="./RentalServiceHomePage"
               asp-route-sortOrder="@Model.CurrentSort"
               asp-route-pageIndex="@(Model.RentalServices.PageIndex + 1)"
               asp-route-currentFilter="@Model.CurrentFilter"
               class="btn btn-primary @(!Model.RentalServices.HasNextPage ? "disabled" : "")">
                Next
            </a>
        </div>
    </tbody>
</table>

